<%= paginator.render do %>
  <% if from_to %>
    <%= (current_page-1)*100 + 1 %>～<%= (current_page-1)*100 + current_pages.count %>
  <% else %>
    <div style="margin:20px 0px;">
      <%= prev_page_tag unless current_page.first? %>

      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end %>
      <% end %>

      <%= next_page_tag unless current_page.last? %>
      <input type="hidden" id="last" value="<%= current_pages.count %>">
    </div>
  <% end %>
<% end %>