<body class="homepage">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-17788063-2', 'auto');
    ga('send', 'pageview');

</script>
<div id="page-wrapper">

  <!-- Nav -->
  <%= render template: 'layouts/header' %>

  <div id="main-wrapper">
    <div id="main" class="container">
      <div class="row" style="padding-bottom:0px;">
        <!-- メインコンテンツ １カラム or ２カラム ここから -->
        <!-- 2カラム -->
        <div class="12u 12u(mobile) important(mobile)">
          <div class="content content-right">
            <div class="pankuzu_div">
              <div class="pankuzu_in"><%= link_to 'HOME', root_path %>　＞　<%= link_to 'カード検索', cards_path %>　＞　検索結果</div>
            </div>
            <br style="clear:both;"/>

            <h1 class="common">
              検索結果
              <font style="font-size:80%;">　
                <%= @cards_all.count %>件中　
                <% if @cards == @cards_all %>
                  1～<%= @cards.count %>
                <% else %>
                  <%= paginate @cards, current_pages: @cards, all_pages: @cards_all, from_to: true %>
                <% end %>
                件目を表示
              </font>
            </h1>

            <table class="tableList" id="search_result">
              <tr>
                <th width="80" rowspan="2"></th>
                <th width="200" colspan="3"><a href="https://yugioh-list.com/searches/result/sort:Card.card_nm_kna/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">カード名</a></th>
                <th width="200" colspan="2"><a href="https://yugioh-list.com/searches/result/sort:Card.kind_id/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">レベル</a></th>
              </tr>
              <tr>
                <th width="50"><a href="https://yugioh-list.com/searches/result/sort:Card.attribute_id/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">属性</a></th>
                <th><a href="https://yugioh-list.com/searches/result/sort:Card.level/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">種類</a></th>
                <th><a href="https://yugioh-list.com/searches/result/sort:Card.type_id/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">種族</a></th>
                <th width="60"><a href="https://yugioh-list.com/searches/result/sort:Card.atk/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">攻撃力</a></th>
                <th width="60"><a href="https://yugioh-list.com/searches/result/sort:Card.dif/direction:desc?effect=1000&amp;level1=1&amp;level2=1" class="normal">守備力</a></th>
              </tr>

              <% @cards.each do |card| %>
                <tr>
                  <td rowspan="3" class="kouka_monstar"  style='text-align: center;'>
                    <%= image_tag preview(card), width: "120px" %>
                  </td>

                  <td colspan="3">
                    <b>
                      <%= card.name %>
                      <% if card.card_prohibition? %>
                        <font color="red">禁止</font>
                      <% elsif card.card_restriction? %>
                        <font color="#7B68EE">制限</font>
                      <% elsif card.card_semilimit? %>
                        <font color="#6B8E23">準制限</font>
                      <% end %>
                    </b>
　                </td>
                  <td colspan="2">
                    <%= level_rank_link card %>
                  </td>
                </tr>
                <tr>
                  <td class='tyuoyose'>
                    <%= card.effect.blank? ? card.attribute_model.name : card.effect.to_s.gsub('効果', '効果: ').gsub(/\r\n|\r|\n/, "") %>
                    <%= image_tag "/assets/attribute/#{@attribute_images[card.attribute_id-1]}" if card.attribute_id.present? %>
                  </td>
                  <td style="width: 50%;">
                    <%= card.other.blank? ? '': (card.other.include?('ペンデュラム') ? card.other.to_s.gsub('ペンデュラム', "ペンデュラム(#{card.pendulum_scale.to_s})") + card.pendulum_effect : card.other) %>
                  </td>
                  <td class="leftyose"><%= card.tribe_id.blank? ? '' : card.tribe.name %></td>
                  <td class="rightyose"><%= card.offensive_power.blank? ? '-' : card.offensive_power %></td>
                  <td class="rightyose"><%= card.deffensive_power.blank? ? '-' : card.deffensive_power %></td>
                </tr>
                <tr>
                  <td colspan="5" >
                    <span class="card_txt">
                      <%= card.text %>
                    </span>
                    <!-- リンクモンスターのみ -->
                  </td>
                </tr>
              <% end %>

            </table>
            <%= paginate @cards, current_pages: @cards, all_pages: @cards_all, from_to: false %>

            <div action="https://yugioh-list.com/searches/result" name="f" id="searchResultForm" method="get" accept-charset="utf-8">
            <h2 class="common" id="search_form">検索条件変更</h2>
            <%= form_for @cards_search_form, url: card_search_path, method: :get, html: { id: "searchResultForm"} do |f| %>
              <style>
                .kouka_popup {
                  border:5px solid black;
                  border-radius:5px;
                  position:fixed;
                  background-color:white;
                  width:50%;
                  height:380px;
                  display:none;
                  left:25%;
                  top:20%;
                  box-shadow: 0 0 20px white;
                }
                .kouka_popup div.kouka_search {
                  width:100%;
                  height:30px;
                  border-bottom:3px solid black;
                  background-color:black;
                  padding-left:10px;
                  color:white;
                }
                .kouka_popup div.kouka_search:hover{
                }
                .kouka_popup div.kouka_search span.e_close {
                  float:right;
                  display:inline-block;
                  width:50px;
                  text-align:right;
                  background-color:gray;
                  border-radius:10px;
                  text-align:center;
                }
                .kouka_popup div.kouka_search span.e_hanei {
                  display:inline-block;
                  width:42px;
                  text-align:right;
                  color:black;
                  background-color:linen;
                  border-radius:10px;
                  border:1px solid black;
                  text-align:center;
                }
                .kouka_popup div.kouka_search span.e_clear {
                  display:inline-block;
                  width:52px;
                  text-align:right;
                  color:black;
                  background-color:linen;
                  border-radius:10px;
                  border:1px solid black;
                  text-align:center;
                }
                .kouka_popup div.kouka_search span:hover {
                  cursor:pointer;
                  color:black;
                  background-color:snow;
                }
                .kouka_popup div.kouka_dl {
                  overflow: scroll;
                  width:100%;
                  height:340px;
                  background-color:#fefeee;
                }
                dl{
                  width: 100%;
                  background-color:gray;
                }
                dt{
                  display: block;
                  padding-left:10px;
                  padding-right:10px;
                  width: 20%;
                  clear: left;
                  float: left;
                  border-top: 1px gray solid;
                  font-weight:bold;
                }
                dd{
                  display: block;
                  width: 80%;
                  float: left;
                  border-top: 1px gray solid;
                  background-color:white;
                  border-left: 3px black solid;
                  border-right: 10px #e6e6e6 solid;
                }
                dd.width_100 {
                  width: 100%;
                }

                dd span{
                  display:block;
                  padding-left:4px;
                  padding:3px 2px 3px 4px;
                  border-bottom: 1px #e6e6e6 solid;
                }
                dd span:hover{
                  background-color:lavender;
                  cursor:pointer;
                }
              </style>
              <table class="tableList " style="margin-top:0px;">
                <tr>
                  <th>効果分類<br>
                    ※ データ登録作業中<br>
                    (残：36枚)
                  </th>
                  <td colspan="3" style="background-color:whitesmoke;">
                    <%= f.hidden_field :effect_category, value: '', id: 'kouka' %>
                    <input type="text" placeholder="- クリックで選択 -" id="kouka_1" onclick="$('.kouka_popup').toggle();" style="width:100%;" readonly="readonly" value="" />
                    <a href="searches#" onclick="set_kouka(1, '- クリックで選択 -', '');return false;">クリア</a>
                    <div class="kouka_popup">
                      <div class="kouka_search">
                        <span onclick="$('.kouka_popup').hide();" class="e_close"> 閉 </span>
                        <input id="effect_keyword" onchange="change_effect_input();"  type="text" placeholder="キーワード" style="display:inline-block;height:20px;width:150px; cursor: pointer;" />
                        <span class="e_hanei" onclick="view_effect();">反映</span>
                        <span onclick="clear_effect_input();" class="e_clear">クリア</span>
                      </div>
                      <div class="kouka_dl">
                        <dl>
                          <dt></dt>
                          <dd><span onclick="set_kouka(1, '- クリックで選択 -', '');">-</span></dd>
                          <dt class="effect_big">召喚</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '1000', '通常召喚権を追加');">通常召喚権を追加</span>
                            <span class="effect_row" onclick="set_kouka(1, '1010', 'カードの効果で通常召喚');">カードの効果で通常召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1020', 'アドバンス召喚のリリース軽減');">アドバンス召喚のリリース軽減</span>
                            <span class="effect_row" onclick="set_kouka(1, '1030', '妥協召喚');">妥協召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1035', '３体以上をリリースして召喚・特殊召喚');">３体以上をリリースして召喚・特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1040', 'ダブル・トリプルコストモンスター');">ダブル・トリプルコストモンスター</span>
                            <span class="effect_row" onclick="set_kouka(1, '1050', 'モンスターの代わりに魔法・罠カードをリリースできる');">モンスターの代わりに魔法・罠カードをリリースできる</span>
                            <span class="effect_row" onclick="set_kouka(1, '1060', '再度召喚関連');">再度召喚関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '1070', '手札から特殊召喚');">手札から特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1080', '墓地から特殊召喚');">墓地から特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1090', 'デッキから特殊召喚');">デッキから特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1110', 'エクストラデッキから特殊召喚する・できる');">エクストラデッキから特殊召喚する・できる</span>
                            <span class="effect_row" onclick="set_kouka(1, '1120', '除外ゾーンから特殊召喚');">除外ゾーンから特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1130', '魔法＆罠ゾーンから特殊召喚');">魔法＆罠ゾーンから特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1140', 'ペンデュラムゾーンから特殊召喚');">ペンデュラムゾーンから特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1150', 'カードの効果でペンデュラム召喚');">カードの効果でペンデュラム召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1160', '罠モンスターを特殊召喚');">罠モンスターを特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1170', 'トークンを特殊召喚');">トークンを特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1180', '装備を解除して特殊召喚');">装備を解除して特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1190', '召喚条件を無視して特殊召喚');">召喚条件を無視して特殊召喚</span>
                            <span class="effect_row" onclick="set_kouka(1, '1200', '召喚を無効化されない');">召喚を無効化されない</span>
                            <span class="effect_row" onclick="set_kouka(1, '1210', '反転召喚を無効化されない');">反転召喚を無効化されない</span>
                            <span class="effect_row" onclick="set_kouka(1, '1220', '特殊召喚を無効化されない');">特殊召喚を無効化されない</span>
                          </dd>
                          <dt class="effect_big">セット・置く</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '2000', 'モンスターをセット');">モンスターをセット</span>
                            <span class="effect_row" onclick="set_kouka(1, '2010', '魔法・罠をセット・置く');">魔法・罠をセット・置く</span>
                            <span class="effect_row" onclick="set_kouka(1, '2020', 'ペンデュラムゾーンに置く');">ペンデュラムゾーンに置く</span>
                          </dd>
                          <dt class="effect_big">ドロー・サーチ</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '3000', 'ドロー');">ドロー</span>
                            <span class="effect_row" onclick="set_kouka(1, '3010', 'ドロー関連効果');">ドロー関連効果</span>
                            <span class="effect_row" onclick="set_kouka(1, '3020', 'デッキから手札に加える');">デッキから手札に加える</span>
                            <span class="effect_row" onclick="set_kouka(1, '3030', '墓地から手札に加える・戻す');">墓地から手札に加える・戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '3040', '除外ゾーンから手札に加える・戻す');">除外ゾーンから手札に加える・戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '3050', 'エクストラデッキから手札に加える');">エクストラデッキから手札に加える</span>
                            <span class="effect_row" onclick="set_kouka(1, '3060', '手札のカードを渡す');">手札のカードを渡す</span>
                          </dd>
                          <dt class="effect_big">破壊</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '4000', 'モンスターを破壊');">モンスターを破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4010', '魔法を破壊');">魔法を破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4020', '罠を破壊');">罠を破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4030', 'ペンデュラムゾーンのカードを破壊');">ペンデュラムゾーンのカードを破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4040', '手札のカードを破壊');">手札のカードを破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4050', 'デッキのカードを破壊');">デッキのカードを破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4060', '無効にしたカードを破壊');">無効にしたカードを破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4070', '自壊・代わりに破壊');">自壊・代わりに破壊</span>
                            <span class="effect_row" onclick="set_kouka(1, '4080', '破壊したカードを奪う');">破壊したカードを奪う</span>
                          </dd>
                          <dt class="effect_big">戻す</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '5000', 'フィールドから手札に戻す');">フィールドから手札に戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5010', 'フィールドからデッキ、エクストラデッキに戻す');">フィールドからデッキ、エクストラデッキに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5020', '手札からデッキ、エクストラデッキに戻す');">手札からデッキ、エクストラデッキに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5030', '墓地からデッキ、エクストラデッキに戻す');">墓地からデッキ、エクストラデッキに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5040', 'デッキの一番上に置く');">デッキの一番上に置く</span>
                            <span class="effect_row" onclick="set_kouka(1, '5050', 'デッキの一番下に置く');">デッキの一番下に置く</span>
                            <span class="effect_row" onclick="set_kouka(1, '5060', 'デッキからエクストラデッキに戻す');">デッキからエクストラデッキに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5070', 'エクストラデッキからデッキに戻す');">エクストラデッキからデッキに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5075', '除外ゾーンからフィールドに戻す');">除外ゾーンからフィールドに戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5080', '除外ゾーンから墓地に戻す');">除外ゾーンから墓地に戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '5090', '除外ゾーンからデッキ、エクストラデッキに戻す');">除外ゾーンからデッキ、エクストラデッキに戻す</span>
                          </dd>
                          <dt class="effect_big">除外</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '5100', 'モンスターを除外');">モンスターを除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5110', '魔法を除外');">魔法を除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5120', '罠を除外');">罠を除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5130', 'ペンデュラムゾーンのカードを除外');">ペンデュラムゾーンのカードを除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5132', '無効にしたカードを除外');">無効にしたカードを除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5135', 'フィールドから離れる際に除外');">フィールドから離れる際に除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5140', '手札から除外');">手札から除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5150', '墓地から除外');">墓地から除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5160', 'デッキから除外');">デッキから除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5170', 'エクストラデッキから除外');">エクストラデッキから除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5180', '自壊（除外）・代わりに除外');">自壊（除外）・代わりに除外</span>
                            <span class="effect_row" onclick="set_kouka(1, '5182', '裏側表示で除外');">裏側表示で除外</span>
                          </dd>
                          <dt class="effect_big">送る・捨てる</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '6000', 'フィールドから墓地に送る');">フィールドから墓地に送る</span>
                            <span class="effect_row" onclick="set_kouka(1, '6010', '手札から墓地に送る');">手札から墓地に送る</span>
                            <span class="effect_row" onclick="set_kouka(1, '6020', '自壊（墓地に送る）・代わりに墓地に送る');">自壊（墓地に送る）・代わりに墓地に送る</span>
                            <span class="effect_row" onclick="set_kouka(1, '6030', '手札から捨てる');">手札から捨てる</span>
                            <span class="effect_row" onclick="set_kouka(1, '6040', 'デッキから墓地に送る・捨てる');">デッキから墓地に送る・捨てる</span>
                            <span class="effect_row" onclick="set_kouka(1, '6050', 'エクストラデッキから墓地に送る・捨てる');">エクストラデッキから墓地に送る・捨てる</span>
                          </dd>
                          <dt class="effect_big">リリース</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '6100', 'フィールドからリリース');">フィールドからリリース</span>
                            <span class="effect_row" onclick="set_kouka(1, '6110', '手札からリリース');">手札からリリース</span>
                          </dd>
                          <dt class="effect_big">攻撃</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '6500', '連続攻撃・複数回攻撃');">連続攻撃・複数回攻撃</span>
                            <span class="effect_row" onclick="set_kouka(1, '6520', '全体攻撃');">全体攻撃</span>
                            <span class="effect_row" onclick="set_kouka(1, '6530', '直接攻撃');">直接攻撃</span>
                            <span class="effect_row" onclick="set_kouka(1, '6550', '攻撃を強制');">攻撃を強制</span>
                            <span class="effect_row" onclick="set_kouka(1, '6560', '守備表示のまま攻撃できる');">守備表示のまま攻撃できる</span>
                          </dd>
                          <dt class="effect_big">ダメージ</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '7000', '戦闘ダメージ関連');">戦闘ダメージ関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '6540', '貫通(守備力を超えた分戦闘ダメージ)');">貫通(守備力を超えた分戦闘ダメージ)</span>
                            <span class="effect_row" onclick="set_kouka(1, '7010', '効果ダメージを増やす・与える');">効果ダメージを増やす・与える</span>
                            <span class="effect_row" onclick="set_kouka(1, '7015', '効果ダメージを受ける');">効果ダメージを受ける</span>
                            <span class="effect_row" onclick="set_kouka(1, '7020', '効果ダメージを減らす・防ぐ');">効果ダメージを減らす・防ぐ</span>
                          </dd>
                          <dt class="effect_big">ライフ</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '7200', 'ライフを払う');">ライフを払う</span>
                            <span class="effect_row" onclick="set_kouka(1, '7210', 'ライフを失う');">ライフを失う</span>
                            <span class="effect_row" onclick="set_kouka(1, '7220', 'ライフを変更');">ライフを変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7230', 'ライフを回復');">ライフを回復</span>
                            <span class="effect_row" onclick="set_kouka(1, '7240', 'ライフコスト関連効果');">ライフコスト関連効果</span>
                          </dd>
                          <dt class="effect_big">変更</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '7500', '攻撃力をアップ');">攻撃力をアップ</span>
                            <span class="effect_row" onclick="set_kouka(1, '7510', '攻撃力をダウン');">攻撃力をダウン</span>
                            <span class="effect_row" onclick="set_kouka(1, '7520', '攻撃力を変更(倍・半分・固定値等)');">攻撃力を変更(倍・半分・固定値等)</span>
                            <span class="effect_row" onclick="set_kouka(1, '7530', '守備力をアップ');">守備力をアップ</span>
                            <span class="effect_row" onclick="set_kouka(1, '7540', '守備力をダウン');">守備力をダウン</span>
                            <span class="effect_row" onclick="set_kouka(1, '7550', '守備力を変更(倍・半分・固定値等)');">守備力を変更(倍・半分・固定値等)</span>
                            <span class="effect_row" onclick="set_kouka(1, '7560', 'レベルを変更');">レベルを変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7570', 'ランクを変更');">ランクを変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7580', 'ペンデュラムスケールを変更');">ペンデュラムスケールを変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7590', '種族を変更');">種族を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7600', '属性を変更');">属性を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7605', '表・裏側表示を変更');">表・裏側表示を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7610', '表示形式の変更');">表示形式の変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7620', 'コントロールを変更');">コントロールを変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7630', '攻撃の対象を変更');">攻撃の対象を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7640', '効果の対象を変更');">効果の対象を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7650', '手札枚数制限を変更');">手札枚数制限を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7660', 'カードの効果を変更');">カードの効果を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7665', 'デッキの順番を変更');">デッキの順番を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '7670', 'カード情報(全部・一部)をコピー');">カード情報(全部・一部)をコピー</span>
                          </dd>
                          <dt class="effect_big">召喚制限</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8540', 'アドバンス召喚不可・制限');">アドバンス召喚不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8550', '通常召喚不可・制限');">通常召喚不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8560', '反転召喚不可・制限');">反転召喚不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8570', '特殊召喚不可・制限');">特殊召喚不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8580', '通常召喚不可・制限（このカード）');">通常召喚不可・制限（このカード）</span>
                            <span class="effect_row" onclick="set_kouka(1, '8590', '特殊召喚不可・制限（このカード）');">特殊召喚不可・制限（このカード）</span>
                          </dd>
                          <dt class="effect_big">無効</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8020', '攻撃を無効');">攻撃を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8030', 'モンスターの効果を無効');">モンスターの効果を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8040', '魔法を無効');">魔法を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8050', '罠を無効');">罠を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8500', '召喚を無効');">召喚を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8510', '反転召喚を無効');">反転召喚を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8520', '特殊召喚を無効');">特殊召喚を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8530', 'ペンデュラム召喚を無効');">ペンデュラム召喚を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8060', 'このカードの効果を無効');">このカードの効果を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8070', '特定のカードの効果を無効');">特定のカードの効果を無効</span>
                            <span class="effect_row" onclick="set_kouka(1, '8080', '装備カードを無効');">装備カードを無効</span>
                          </dd>
                          <dt class="effect_big">耐性・制限・不可</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8000', '戦闘破壊耐性');">戦闘破壊耐性</span>
                            <span class="effect_row" onclick="set_kouka(1, '8010', '効果破壊耐性');">効果破壊耐性</span>
                            <span class="effect_row" onclick="set_kouka(1, '8090', '攻撃対象を制限');">攻撃対象を制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8095', '効果対象を制限');">効果対象を制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8100', 'モンスターの効果の対象にならない');">モンスターの効果の対象にならない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8110', '魔法の対象にならない');">魔法の対象にならない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8120', '罠の対象にならない');">罠の対象にならない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8130', 'モンスターの効果を受けない');">モンスターの効果を受けない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8140', '魔法の効果を受けない');">魔法の効果を受けない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8150', '罠の効果を受けない');">罠の効果を受けない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8160', '特定のカードの効果を受けない');">特定のカードの効果を受けない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8170', '効果が無効化されない');">効果が無効化されない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8180', 'コントロールを元に戻す');">コントロールを元に戻す</span>
                            <span class="effect_row" onclick="set_kouka(1, '8185', '攻撃モンスター・攻撃回数 制限');">攻撃モンスター・攻撃回数 制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8190', '攻撃不可');">攻撃不可</span>
                            <span class="effect_row" onclick="set_kouka(1, '8200', '直接攻撃不可');">直接攻撃不可</span>
                            <span class="effect_row" onclick="set_kouka(1, '8210', 'モンスターの効果を発動不可・制限');">モンスターの効果を発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8220', '魔法を発動不可・制限');">魔法を発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8230', '罠を発動不可・制限');">罠を発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8240', 'ペンデュラム効果を発動不可・制限');">ペンデュラム効果を発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8250', '特定のカードを発動不可・制限');">特定のカードを発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8260', 'このカードの発動に対して効果を発動不可・制限');">このカードの発動に対して効果を発動不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8270', 'セット不可・制限');">セット不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8280', 'リリース不可・制限');">リリース不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8290', '除外不可・制限');">除外不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8300', 'ドロー不可・制限');">ドロー不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8310', '表示形式を変更不可・制限');">表示形式を変更不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8320', 'コントロールを変更不可・制限');">コントロールを変更不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8330', 'ゾーン使用不可・制限');">ゾーン使用不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8335', '同名・同カテゴリ存在不可');">同名・同カテゴリ存在不可</span>
                            <span class="effect_row" onclick="set_kouka(1, '8340', 'フィールドからデッキに戻せない');">フィールドからデッキに戻せない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8350', 'デッキから手札に加えられない');">デッキから手札に加えられない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8360', 'デッキから墓地に送れない');">デッキから墓地に送れない</span>
                            <span class="effect_row" onclick="set_kouka(1, '8363', 'デュエル中に１度のみ');">デュエル中に１度のみ</span>
                          </dd>
                          <dt class="effect_big">扱う</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8700', '別のカード名として扱う');">別のカード名として扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8710', '通常モンスターとして扱う');">通常モンスターとして扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8720', 'チューナーとして扱う');">チューナーとして扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8730', 'チューナー以外として扱う');">チューナー以外として扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8735', '別の属性・種族・レベル(ランク)として扱う');">別の属性・種族・レベル(ランク)として扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8740', '魔法・罠カードとして扱う');">魔法・罠カードとして扱う</span>
                            <span class="effect_row" onclick="set_kouka(1, '8750', '特定のカテゴリカードとしても扱う');">特定のカテゴリカードとしても扱う</span>
                          </dd>
                          <dt class="effect_big">素材・カウンター</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8800', '融合素材関連');">融合素材関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '8810', 'シンクロ素材関連');">シンクロ素材関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '8820', 'エクシーズ素材関連');">エクシーズ素材関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '8830', 'リンク素材関連');">リンク素材関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '8833', '儀式素材関連');">儀式素材関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '8835', '素材不可・制限');">素材不可・制限</span>
                            <span class="effect_row" onclick="set_kouka(1, '8840', 'カウンターを置く・取り除く関連');">カウンターを置く・取り除く関連</span>
                          </dd>
                          <dt class="effect_big">装備</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '8900', '装備カード扱いとして装備');">装備カード扱いとして装備</span>
                            <span class="effect_row" onclick="set_kouka(1, '8910', 'カードを装備');">カードを装備</span>
                          </dd>
                          <dt class="effect_big">公開</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '9000', 'セットされたカードを公開');">セットされたカードを公開</span>
                            <span class="effect_row" onclick="set_kouka(1, '9010', '手札のカードを公開');">手札のカードを公開</span>
                            <span class="effect_row" onclick="set_kouka(1, '9020', 'ドローしたカードを公開');">ドローしたカードを公開</span>
                            <span class="effect_row" onclick="set_kouka(1, '9030', 'デッキのカードを公開・めくる');">デッキのカードを公開・めくる</span>
                            <span class="effect_row" onclick="set_kouka(1, '9040', 'エクストラデッキのカードを公開');">エクストラデッキのカードを公開</span>
                          </dd>
                          <dt class="effect_big">その他</dt>
                          <dd>
                            <span class="effect_row" onclick="set_kouka(1, '9500', '手札から魔法・罠カードを発動');">手札から魔法・罠カードを発動</span>
                            <span class="effect_row" onclick="set_kouka(1, '9510', 'デッキから魔法・罠カードを発動');">デッキから魔法・罠カードを発動</span>
                            <span class="effect_row" onclick="set_kouka(1, '9520', '墓地から魔法・罠カードを発動');">墓地から魔法・罠カードを発動</span>
                            <span class="effect_row" onclick="set_kouka(1, '9525', 'セットしたターンに発動可能');">セットしたターンに発動可能</span>
                            <span class="effect_row" onclick="set_kouka(1, '9530', 'デッキをシャッフルする');">デッキをシャッフルする</span>
                            <span class="effect_row" onclick="set_kouka(1, '9540', 'コイントス関連効果');">コイントス関連効果</span>
                            <span class="effect_row" onclick="set_kouka(1, '9550', 'サイコロ関連効果');">サイコロ関連効果</span>
                            <span class="effect_row" onclick="set_kouka(1, '9560', 'ジャンケン関連');">ジャンケン関連</span>
                            <span class="effect_row" onclick="set_kouka(1, '9570', 'カードの位置を変更');">カードの位置を変更</span>
                            <span class="effect_row" onclick="set_kouka(1, '9575', '手札を交換・渡す・受け取る');">手札を交換・渡す・受け取る</span>
                            <span class="effect_row" onclick="set_kouka(1, '9580', 'フェイズを行えない・スキップ・強制終了');">フェイズを行えない・スキップ・強制終了</span>
                            <span class="effect_row" onclick="set_kouka(1, '9590', 'ターンをスキップ');">ターンをスキップ</span>
                            <span class="effect_row" onclick="set_kouka(1, '9600', 'ターンを強制終了');">ターンを強制終了</span>
                            <span class="effect_row" onclick="set_kouka(1, '9605', 'マッチ勝利');">マッチ勝利</span>
                            <span class="effect_row" onclick="set_kouka(1, '9610', '特殊勝利');">特殊勝利</span>
                          </dd>
                          <dt></dt>
                          <dd><span onclick="set_kouka(1, '- クリックで選択 -', '');">-</span></dd>
                        </dl>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>キーワード</th>
                  <td colspan="3">
                    <div class="input text">
                      <%= f.text_field :keyword, maxlength: "50", style: "max-width:100%;width:100%;", id: "CardKeyword" %>
                    </div>
                    <%= f.check_box :name, value: "1", id: "CardKeyword1", checked: "checked" %>
                    <label for="CardKeyword1">カード名</label>
                    <%= f.check_box :name_kana, value: "1", id: "CardKeyword2", checked: "checked" %>
                    <label for="CardKeyword2">カード名(カナ)</label>
                    <%= f.check_box :text, value: "1", id: "CardKeyword3", checked: "checked" %>
                    <label for="CardKeyword3">テキスト</label>		</td>
                </tr>
                <tr>
                  <th>カード種類</th>
                  <td colspan="3">
                    <%= f.select :card_monster1, CARD_CATEGORY, {include_blank: true}, style: "display:inline-block;max-width:200px;width:100%;", id: "CardKindId1" %>
                    かつ
                    <%= f.select :card_monster2, CARD_CATEGORY, {include_blank: true}, style: "display:inline-block;max-width:200px;width:100%;", id: "CardKindId1" %>
                </tr>
                <tr>
                  <th>種族／属性</th>
                  <td colspan="3">
                    <%= f.select :tribe, Tribe.all.map{|m| [m.name, m.id]}, {include_blank: true}, id: "CardTypeId"  %>
                    ／
                    <%= f.select :attribute, Attribute.all.map{|m| [m.name, m.id]}, {include_blank: true}, style: "width:70px;display:inline-block;",  id: "CardAttributeId" %>
                    属性
                  </td>
                </tr>
                <tr>
                  <th>レベル</th>
                  <td colspan="3">
                    <%= f.select :level_low, LEVEL, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardLevelF" %>
                    ～
                    <%= f.select :level_high, RANK, {include_blank: true}, style: "width:70px;display:inline-block;",  id: "CardLevelT" %>

                    <%= f.check_box :level, value: "1", id: "CardLevel1", checked: "checked" %><label for="CardLevel1">レベル</label>
                    <%= f.check_box :rank, value: "1", id: "CardLevel2", checked: "checked" %><label for="CardLevel2">ランク</label>
                  </td>
                </tr>
                <tr>
                  <th>ペンデュラム</th>
                  <td colspan="3">
                    青
                    <%= f.select :pendulum_blue_low, PENDULUM, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardPBlueF" %>
                    ～
                    <%= f.select :pendulum_blue_high, PENDULUM, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardPBlueT" %>
                    <br>

                    赤
                    <%= f.select :pendulum_red_low, PENDULUM, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardPREDF" %>
                    ～
                    <%= f.select :pendulum_red_high, PENDULUM, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardPREDT" %>
                </tr>
                <tr>
                  <th>リンク</th>
                  <td colspan="3">
                    <%= f.select :link_low, LINK, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardLinkNumF" %>
                    ～
                    <%= f.select :link_high, LINK, {include_blank: true}, style: "width:70px;display:inline-block;", id: "CardLinkNumT" %>

                    <%= f.check_box :left_up, empty: "1", value: "1", id: "CardLink1" %><label for="CardLink1">左上</label>
                    <%= f.check_box :up, empty: "1", value: "1", id: "CardLink2" %><label for="CardLink2">上</label>
                    <%= f.check_box :right_up, empty: "1", value: "1", id: "CardLink3" %><label for="CardLink3">右上</label>
                    <%= f.check_box :left, empty: "1", value: "1", id: "CardLink4" %><label for="CardLink4">左</label>
                    <%= f.check_box :right, empty: "1", value: "1", id: "CardLink5" %><label for="CardLink5">右</label>
                    <%= f.check_box :left_down, empty: "1", value: "1", id: "CardLink6" %><label for="CardLink6">左下</label>
                    <%= f.check_box :down, empty: "1", value: "1", id: "CardLink7" %><label for="CardLink7">下</label>
                    <%= f.check_box :right_down, empty: "1", value: "1", id: "CardLink8" %><label for="CardLink8">右下</label>
                  </td>
                </tr>
                <tr>
                  <th>攻撃力</th>
                  <td colspan="3">
                    <%= f.select :offensive_power_low, POWER, {include_blank: true}, style: "width:100px;display:inline-block;", id: "CardAtkF" %>
                    ～
                    <%= f.select :offensive_power_high, POWER, {include_blank: true}, style: "width:100px;display:inline-block;", id: "CardAtkT" %>


                    <div class="checkbox">
                      <%= f.check_box :offensive_power_nil, value: "0", id: "CardAtkH0" %>
                      <label for="CardAtkH0">?のみ</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>守備力</th>
                  <td colspan="3">
                    <%= f.select :deffensive_power_low, POWER, {include_blank: true}, style: "width:100px;display:inline-block;", id: "CardDifF" %>
                    ～
                    <%= f.select :deffensive_power_high, POWER, {include_blank: true}, style: "width:100px;display:inline-block;", id: "CardDifT" %>

                    <div class="checkbox">
                      <%= f.check_box :deffensive_power_nil, value: "0", id: "CardDifH0" %>
                      <label for="CardDifH0">?のみ</label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>制限</th>
                  <td colspan="3">

                    <div class="checkbox">
                      <%= f.check_box :no_restriction, checked: "checked", value: "1", id: "CardLimitId1" %>
                      <label for="CardLimitId1" class="selected">無制限</label>
                    </div>
                    <div class="checkbox">
                      <%= f.check_box :semi_restriction, checked: "checked", value: "2", id: "CardLimitId2" %>
                      <label for="CardLimitId2" class="selected">準制限</label>
                    </div>
                    <div class="checkbox">
                      <%= f.check_box :restriction, checked: "checked", value: "3", id: "CardLimitId3" %>
                      <label for="CardLimitId3" class="selected">制限</label>
                    </div>
                    <div class="checkbox">
                      <%= f.check_box :ban, checked: "checked", value: "4", id: "CardLimitId4" %>
                      <label for="CardLimitId4" class="selected">禁止</label>
                    </div>
                  </td>
                </tr>
              </table>
              <div style="text-align:center;width:100%;">
                <%= f.submit '検索', style: "width:200px;height:50px;" %>
              </div>
              <br />
            <% end %>

            <link rel="stylesheet" type="text/css" href="../img/card/resource/lightbox.css" media="screen,tv" />
            <script type="text/javascript" charset="UTF-8" src="../img/card/resource/lightbox_plus.js"></script>

          </div>
        </div>
        <!-- 2カラム -->						<!-- メインコンテンツ １カラム or ２カラム ここまで -->
      </div>
    </div>
  </div>
  <!-- /Main -->

  <!-- Footer -->
  <%= render template: 'layouts/footer' %>

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.dropotron.min.js"></script>
  <script src="/assets/js/skel.min.js"></script>
  <script src="/assets/js/skel-viewport.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/jquery.cookie.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" type="text/javascript"></script>
  <script>
      function set_kouka(input_id, s_id, s_text) {
          var tmp_input_id        = "#kouka_" + input_id;
          var tmp_input_hidden_id = "#kouka_hidden_" + input_id;
          $(tmp_input_id).val(s_text);
          if (s_id == "- クリックで選択 -") {
              s_id = "";
          }
          $(tmp_input_hidden_id).val(s_id);
          $('.kouka_popup').hide();
      }

      function change_effect_input() {
          view_effect();
      }

      function clear_effect_input() {
          $('#effect_keyword').val("");
          view_effect();
      }


      function view_effect() {
          var tmp_keyword = $('#effect_keyword').val();
          if (tmp_keyword == "") {
              $('.effect_big').show();
              $('dd').removeClass("width_100");
              $('.effect_row').show();
          } else {
              $('.effect_big').hide();
              $('.effect_row').hide();
              $('dd').addClass("width_100");
              $('.effect_row:contains(' + tmp_keyword + ')').show();
          }
      }

      // 範囲外クリックで閉じる
      $(document).on('click touchend', function(event) {
          if (!$(event.target).closest('#kouka_1').length && !$(event.target).closest('.kouka_popup').length) {
              // alert($('.kouka_popup').css('display'));
              if ($('.kouka_popup').css('display') == 'block') {
                  $('.kouka_popup').hide();
              }
          }
      });
  </script>
  <style>
    .highlight{
      background-color: yellow;
      color: black;
    }
  </style>
  <script type="text/javascript" charset="UTF-8" src="../js/findInPage.js"></script>
  <script>
  </script>
  <script src="../js/base.js"  type="text/javascript"></script>
  <script type="text/javascript">baseStart();</script>
</div>
</body>